@charset "utf-8";
/* CSS Document */
$stars: 5;
$star-size: 40px;
$star-spacing: 2px;
$star-on-color: #ffd700;
$star-off-color: #cccccc;

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: #ffa500;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summery {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #292c34;
  color: #f3f3f3;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  padding: 30px 0;
  background-color: #252831;
  text-align: center;
  h1 {
    margin: auto;
    a {
      color: #fff;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
  }
}
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  li {
    display: inline;

    /* Add a color to all links inside the list */
    a {
      color: #444;
      text-decoration: none;
      /* Add a color on mouse-over */
      &:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }
  }
  li + li:before {
    padding: 8px;
    color: #000000;
    content: '/\00a0';
  }
}

/* Display list items side by side */

/* Add a slash symbol (/) before/behind each list item */

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

#maincontent #map-container {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

#maincontent-top > #map-container,
#maincontent-top > #map-container > #map {
  height: 200px;
}

.inside #map-container {
  background: #292c34 none repeat scroll 0 0;
  width: 100%;
}

@media (min-width: 700px) {
  #maincontent-top > #map-container,
  #maincontent-top > #map-container > #map {
    height: 660px;
  }
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  width: 100%;
  background-color: #292c34;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  h2 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
  }
  select {
    background-color: #ffffff;
    border-radius: 6px;
    border: none;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 90%;
  }
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 481px) {
  .filter-options {
    flex-direction: row;
    select {
      display: flex;
      flex-grow: 1;
    }
  }
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  li {
    background-color: #fff;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    min-height: 380px;
    padding: 25px;
    text-align: left;
    width: 270px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  .restaurant-img {
    background-color: #ccc;
    border-radius: 6px;
    display: block;
    margin: 0;
    width: 100%;
  }
  li h1 {
    color: #444;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-size: 11pt;
  }
  li a {
    background-color: #292c34;
    color: #ffffff;
    border-bottom: none;
    border-radius: 6px;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}

/* ====================== Restaurant Details ====================== */

.inside {
  header {
    width: 100%;
  }
  #map {
    background-color: #ccc;
    width: 100%;
  }
}

#restaurant-name {
  color: #444;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 90%;
  border-radius: 6px 6px 0 0;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  float: left;
}
#restaurant-cuisine {
  background-color: #292c34;
  border-radius: 0 0 6px 6px;
  color: #ffffff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
#restaurant-container,
#reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  h2 {
    color: #444;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
}

#reviews-container {
  padding: 20px 0;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    background-color: #fff;
    border: none;
    display: block;
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 1px;
    position: relative;
    width: 90%;
    transition: 0.5s ease all;
    p {
      margin: 10px;
      text-align: justify;
    }
    h3 {
      .star-icon {
        color: #daa520;
      }
    }
    &.new-review {
      .new-review-text {
        color: gold;
      }
    }
  }
}

#restaurant-hours {
  align-items: flex-start;
  td {
    color: #666;
  }
}

#maincontent-top {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  #maincontent-top {
    flex-direction: row-reverse;
  }
}

/* ====================== Restaurant Form ====================== */

#review-form-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px 0;
  #review-form {
    width: 100%;
    padding: 0;
    text-align: center;
    button {
      align-self: center;
      border-radius: 6px;
      margin: auto;
      border: none;
      padding: 20px 35px;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #292c34;
    }
    .form-input-group {
      margin: 10px 0;
      label {
        display: none;
      }
      input,
      textarea {
        max-width: 100%;
        width: 100%;
        border: none;
        box-sizing: border-box;
        padding: 20px;
        margin: auto;
        border-radius: 6px;
        position: relative;
      }
    }
  }
}

.rating {
  width: ($star-size * $stars) + ($star-spacing * ($stars - 1));
  height: $star-size;
  margin: 0 auto;
  label {
    float: right;
    position: relative;
    width: $star-size;
    height: $star-size;
    cursor: pointer;

    &:not(:first-of-type) {
      padding-right: $star-spacing;
    }

    &:before {
      content: '\2605';
      font-size: $star-size + 2px;
      color: $star-off-color;
      line-height: 1;
    }
  }

  input[type='radio'] {
    display: none !important;
  }

  input:checked ~ label:before,
  &:not(:checked) > label:hover:before,
  &:not(:checked) > label:hover ~ label:before {
    color: $star-on-color;
  }
}

/* ====================== Favorite Button ====================== */
.favorite-button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 40px;
  padding: 0 35px;
  margin: 0;
  cursor: pointer;
  float: right;
  transition: 0.5s ease all;
  &.favorited {
    color: #ff0000 !important;
  }
}
